body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.container div {
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}